<%- include('../includes/user/userHead') %>
  <div style="padding-top: 50px">
    <div class="bg0 m-t-23 p-b-140">

      <div class="container">
        <div class="border my-2"></div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Order</li>
          </ol>
        </nav>

        <div class="row">
          <div class="col-md-6">
            <select id="statusFilter" data-user-id="<%= useId %>">
             
              <option selected>Choose your order status</option>
              <% const statusValues=['ALL','PAYMENT PENDING', 'ACTIVE' ,'RETURNED','CANCELLED']; %>
                <% statusValues.forEach(status=> { %>
                  <option value="<%= status %>">
                    <%= status %>
                  </option>
                  <% }) %>
            </select>
          </div>
        </div>



        <div class="row ordersContainer" id="ordersContainer">
          <% orderDetails.forEach(order=>{ %>

            <!-- <div class="col-12"> -->
            <div class="col-12 order" data-status="<%= order.status %>">

              <div class="d-flex align-items-top justify-content-between px-4 py-2">
                <div class="bg-white"><span class="font-weight-bold">ID:</span>
                  <%= order.orderId %>
                </div>
                <div class=" col-md-4">
                  <div>
                    <% order.product.forEach(item=> { %>
                      <span class="fs-16 text-wrap text-truncate">
                        <%= item.productDetails.productName %>,
                      </span>
                      <% }) %>
                  </div>

                  <div class="fs-10">
                    <%= order.orderedAt %>
                  </div>
                  <div class="fs-10"></div>
                </div>
                <div class="font-weight-bold">
                  <%= order.orderStatus %>
                </div>
                <div><i onclick="location.href = '/view-order/<%=order._id %>'"
                    class='text-success bx bx-show-alt fs-22'></i></div>

              </div>
              <div class="border my-2"></div>
            </div>

            <% }) %>
        </div>


        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end">
            <% if (currentPage> 1) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <% } %>

                <% for (let i=1; i <=totalPages; i++) { %>
                  <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>

                    <% if (currentPage < totalPages) { %>
                      <li class="page-item">
                        <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                      <% } %>
          </ul>
        </nav>



      </div>
    </div>
  </div>

  <script>
    document.getElementById('statusFilter').addEventListener('change', function () {
      const selectedStatus = this.value;
      const userId = this.dataset.userId;
      console.log("Selected status: ", selectedStatus);
      console.log("User ID: ", userId);
  
      fetch(`/filteredOrders/${userId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ status: selectedStatus })
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log("Received data: ", data);
        const div = document.querySelector('.ordersContainer')
        let htmlContent = ''; 
        data.forEach((order)=>{
          htmlContent += `
         <div class="col-12 order" data-status="${ order.status }">

  <div class="d-flex align-items-top justify-content-between px-4 py-2">
    <div class="bg-white"><span class="font-weight-bold">ID:</span>
      ${ order.orderId }
    </div>
    <div class=" col-md-4">
      <div>
        
        ${ order.productDetails.map(item => `
<span class="fs-16 text-wrap text-truncate">
     ${ item.product },
    </span>
`).join('') }
          
      </div>
    
      <div class="fs-10">
        ${ order.orderedAt }
      </div>
      <div class="fs-10"></div>
    </div>
    <div class="font-weight-bold">
      ${ order.orderStatus }
    </div>
    <div><i onclick="location.href = '/view-order/${order._id }'"
        class='text-success bx bx-show-alt fs-22'></i></div>

  </div>
  <div class="border my-2"></div>
</div>

`

})

div.innerHTML = htmlContent; 


      })
      .catch(error => console.error('Error fetching filtered orders:', error));
    });
  </script>
  
  
  



  <%- include('../includes/user/userEnd') %>