<%- include('../includes/user/userHead') %>
<div style="padding-top: 50px;">
<div class="bg0 m-t-23 p-b-140">
	<div class="container">

<div class="flex-w flex-sb-m p-b-52">
	<div class="flex-w flex-l-m filter-tope-group m-tb-10">
		<!-- <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
			All Products
		</button>

		<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".girls">
			Girls
		</button>

		<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".boys">
			Boys
		</button>

		<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".infants">
			Infants
		</button> -->

		
	</div>
	

	<div class="flex-w flex-c-m m-tb-10">
		<!-- <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-sort" style="margin-right: 10px;">
			<i class="icon-sort cl2 m-r-6 fs-15 trans-04 zmdi zmdi-sort-amount-desc"></i>
			<i class="icon-close-sort cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
			Sort By
		</div> -->
		<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
			<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
			<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
			 Filter
		</div>

		<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
			<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
			<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
			Search
		</div>
	</div>
	<!--Sort By-->
	
		<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15 navbar-search-autocomplete">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" id="search" type="text" name="search-product" placeholder="Search">
					</div>	
				</div>
				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							
							 <div class="  cl2 p-b-15">
								<span class="mtext-102" >Sort By</span>
								<ul id="filter-sort">
								

									<li class="p-b-6">
										<input class="form-check-input filter" type="radio" name="price" value="ascending" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  Price : Low to High									</label>
									</li>
	
									<li class="p-b-6">
										<input class="form-check-input filter" type="radio" name="price" value="descending" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  Price : High to Low									</label>
									</li>
	
									<!-- <li class="p-b-6">
										<input class="form-check-input filter" type="checkbox" value="" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  Average Rating
											</label>
									</li> -->
	
									<li class="p-b-6">
	
										<input class="form-check-input filter" type="radio" name="alphaOrder" value="a-z" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  aA - zZ
											</label>
										</li>
										<li class="p-b-6">
											<input class="form-check-input filter" type="radio" name="alphaOrder" value="z-a" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  zZ - aA
											</label>
									
	
									
										
									</li>
									<!-- <li class="p-b-6">
										<input class="form-check-input filter" type="checkbox" value="" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  Popularity
											</label>
									</li> -->
								</ul> 
							</div>

							
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							
							 <div class="mtext-102 cl2 p-b-15">
								Category
							</div>

							<ul id="filter-category">
								<% category.forEach(cat => { %>
									<%	if(!cat.isDeleted) { %>
								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="<%= cat.categoryName %>" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  <%= cat.categoryName %>
										</label>
								</li>

								<% } %>
								<% } ) %>
							</ul> 
						</div>

						<div class="filter-col3 p-r-15 p-b-27">
							
							 <div class="mtext-102 cl2 p-b-15">
								Color
							</div>

							<ul id="filter-color">
								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="White" id="color-white">
										<label class="form-check-label" for="color-white">
										  White
										</label>
								</li>

								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="Red" id="color-red">
										<label class="form-check-label" for="color-red">
										  Red
										</label>
								</li>

								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="Pink" id="color-pink">
										<label class="form-check-label" for="color-pink">
										  Pink
										</label>
								</li>

								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="Blue" id="color-blue">
										<label class="form-check-label" for="color-blue">
										  Blue
										</label>
								</li>

								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="Green" id="color-green">
										<label class="form-check-label" for="color-green">
										  Green
										</label>
								</li>

								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="Yellow" id="color-yellow">
										<label class="form-check-label" for="color-yellow">
										  Yellow
										</label>
								</li>
								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="Black" id="color-black">
										<label class="form-check-label" for="color-black">
										  Black
										</label>
								</li>
							</ul> 
						</div>

						<div class="filter-col4 p-b-27">
						
							 <div class="mtext-102 cl2 p-b-15">
								Age Group
							</div>

							<ul id="filter-age">
								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="3m - 9m" id="age-group-3m-9m">
										<label class="form-check-label" for="age-group-3m-9m">
											3m - 9m
										</label>
								</li>
								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="9m - 12m" id="age-group-9m-12m">
										<label class="form-check-label" for="age-group-9m-12m">
											9m - 12m
										</label>
								</li>
								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="1y - 3y" id="age-group-1y-3y">
										<label class="form-check-label" for="age-group-1y-3y">
											1y - 3y
										</label>
								</li>
								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="3y - 5y" id="age-group-3y-5y">
										<label class="form-check-label" for="age-group-3y-5y">
											3y - 5y
										</label>
								</li>
								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="5y - 7y" id="age-group-5y-7y">
										<label class="form-check-label" for="age-group-5y-7y">
											5y - 7y
										</label>
								</li>
								<li class="p-b-6">
									<input class="form-check-input filter" type="checkbox" value="8y - 10y" id="age-group-8y-10y">
										<label class="form-check-label" for="age-group-8y-10y">
											8y - 10y
										</label>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

	
	</div>
	<% if(error){ %>
		<div class="text-danger"><%= error %></div>
		<% } %>
	<!--Products-->
	<div class="container">
	<div class="row isotope-grid" id="product_container">
		<% if(products.length) {%>
		<% products.forEach(product => { %>
			<% if(!product.isDeleted) { %>
				
		<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
			
				
			<div class="block2">
				<div class="block2-pic hov-img0">
					
					<img src="/images/productImages/<%= product.image[0] %>" alt="IMG-PRODUCT" style="width: 287px;height: 355px;" >

					<a href="/productDetail/<%= product._id %>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
						View
					</a>					
				

				</div>

				<div id="pro" class="block2-txt flex-w flex-t p-t-14">
					<div class="block2-txt-child1 flex-col-l ">
						<a href="/product" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
							<%= product.product %>
						</a>
						
			 <% if(product.offerPrice) {%>
				<span class="stext-105 cl3">
					<s><i class='bx bx-rupee'></i><%= product.price %></s>
					<i class='bx bx-rupee'></i><%= product.offerPrice %>
				</span>

							<% }else { %> 
								<span >
									<i class='bx bx-rupee'></i><%= product.price %>
								</span>

						
						 <% } %> 
						<% offers.forEach(offer => { %>
							<% if (offer.status && new Date(offer.expiryDate) > new Date()) { %>	
						<% if (offer.offerFor.toString() === product._id.toString() ) { %>
							<span class="text-warning"><%= offer.name %> %</span>
						<% } else { %>
						
							<% category.forEach(categoryItem => { %>
								<% if (offer.offerFor.toString() ===  categoryItem._id.toString()) { %>
									<% if(categoryItem.categoryName === product.category) {%>
									<span class="text-warning"><%= offer.name %> %</span>
									<% } %>
								<% } %>
							<% }) %>
							<% } %>
							<% } %>
							<% }) %>
						
					</div>

					 <!-- <div class="block2-txt-child2 flex-r p-t-3"><button class="wishlist-btn">
						<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
							<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
							<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
						</a>
					</button>
					</div>  -->

					
						<div class="block2-txt-child2 flex-r p-t-3">
							<button class="wishlist-btn">
								<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
									<% if(wishlist.some(wishlistItem => wishlistItem.productId.toString() === product._id.toString())) { %>
										<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-02.png" alt="ICON">
									<% } else { %>
										<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
									<% } %>
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
								</a>
							</button>
						</div>
					
					



				</div>
			</div>
			
			
		</div>
		
		<% } %>
	  <% }) %>
	  <% } else { %>
		<p>No images available for this product.</p>
	<% } %>
	</div>

	<div class="pagination">
		<button class="page-link prev-btn" disabled>&laquo; Previous</button>
		<span class="page-numbers"></span>
		<button class="page-link next-btn">Next &raquo;</button>
	</div>
	



</div>

	
	
	

	</div>
	</div>
</div>


<script>
// Assuming you're using jQuery for simplicity
$(document).ready(function() {
    $('#search').on('input', function() {
        var searchValue = $(this).val();
        // Perform search when user types
        if (searchValue.trim() !== '') {
            // Send searchValue to server for processing
            $.ajax({
                type: 'POST',
                url: '/search',
                data: { value: searchValue },
                success: function(response) {
				$('#product_container').empty()
                let productHtml='';

					if(response.found){
						console.log(response.product[0])
						response.product.forEach(element => {
							
							productHtml +=`<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
		                        <div class="block2">
									<div class="block2-pic hov-img0">
										
										<img src="/images/productImages/${element.image[0]}" alt="IMG-PRODUCT" style="width: 287px;height: 355px;" >

										<a href="/productDetail/${element._id}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
											View
										</a>

									</div>

									<div id="pro" class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l ">
											<a href="/product" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
												${element.product}
											</a>

											<span class="stext-105 cl3">
												<i class='bx bx-rupee'></i>${element.price}
											</span>
										</div>

										<div class="block2-txt-child2 flex-r p-t-3">
											<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
												<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
												<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
											</a>
										</div>
									</div>
								</div>
								
								
							</div>`
						});

						$('#product_container').append(productHtml)
						

						
					}
                   
                },
                error: function(err) {
                    console.error('Error:', err);
                }
            });
        } else {
            // Clear previous search results or hide them
        }
    });
});



</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var wishlistBtns = document.querySelectorAll('.wishlist-btn');

        wishlistBtns.forEach(function(wishlistBtn) {
            var heartIcon1 = wishlistBtn.querySelector('.icon-heart1');
            var heartIcon2 = wishlistBtn.querySelector('.icon-heart2');

            wishlistBtn.addEventListener('click', function (event) {
                event.preventDefault();
                
                heartIcon1.classList.toggle('hidden');
                heartIcon2.classList.toggle('hidden');
            });
        });
    });
</script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
    // Filter and Sort functionality
    const filterButton = document.querySelectorAll('.filter');
    let sortValue = [];

    filterButton.forEach((button) => {
        button.addEventListener('change', () => {
			const sortValue = document.querySelector('#filter-sort .filter[type="radio"]:checked').value;
            const categoryFilters = Array.from(document.querySelectorAll('#filter-category .filter[type="checkbox"]:checked')).map(checkbox => checkbox.value);
            const colorFilters = Array.from(document.querySelectorAll('#filter-color .filter[type="checkbox"]:checked')).map(checkbox => checkbox.value);
            const ageFilters = Array.from(document.querySelectorAll('#filter-age .filter[type="checkbox"]:checked')).map(checkbox => checkbox.value);
			filters = {
                category: categoryFilters,
                color: colorFilters,
                size: ageFilters
            };
			fetchData(filters, sortValue);

        });
    });

    function fetchData(filters, sortValue) {
        fetch('/filter-and-sort', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ filters, sortValue })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
				updateUI(data.products);
            } else {
                alert('Failed to fetch filtered/sorted products. Please try again.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while fetching filtered/sorted products. Please try again.');
        });
    }
	function updateUI(products) {
        const productContainer = document.getElementById('product_container');
        productContainer.innerHTML = ''; 

        if (products.length > 0) {
            products.forEach(product => {
                const productHtml = `
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img src="/images/productImages/${product.image[0]}" alt="IMG-PRODUCT" style="width: 287px;height: 355px;">
                                <a href="/productDetail/${product._id}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                    View
                                </a>
                            </div>
                            <div id="pro" class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a href="/product" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">${product.product}</a>
                                    <span class="stext-105 cl3">
                                        <i class='bx bx-rupee'></i>${product.price}
                                    </span>
                                </div>
                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                        <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                productContainer.insertAdjacentHTML('beforeend', productHtml);
            });
        } else {
            // No products found
            productContainer.innerHTML = '<p>No products found.</p>';
        }
    }
})
</script>




<!--  
<script>
        $(document).ready(function() {
            let currentPage = 1;
            const productsPerPage = 12; 

            
            function fetchProducts(page) {
                
                $.ajax({
                    url: '/product?page=' + page,
                    method: 'GET',
                    success: function(data) {
                        
                        updateProductList(data.products);
                        
                        updatePaginationControls(data.totalPages);
                    },
                    error: function(err) {
                        console.error('Error fetching products:', err);
                    }
                });
            }

            // Function to update the product list
            function updateProductList(products) {
                // Clear existing product list
                $('#product_container').empty();

                products.forEach(product => {
                    $('#product_container').append(`<div class="product">${product.name}</div>`);
                });
            }

            function updatePaginationControls(totalPages) {
                $('.page-numbers').text('Page ' + currentPage + ' of ' + totalPages);

                $('.prev-btn').prop('disabled', currentPage === 1);
                $('.next-btn').prop('disabled', currentPage === totalPages);
            }

            fetchProducts(currentPage);

            $('.prev-btn').click(function() {
                if (currentPage > 1) {
                    currentPage--;
                    fetchProducts(currentPage);
                }
            });

            $('.next-btn').click(function() {
                
                currentPage++;
                fetchProducts(currentPage);
            });
        });
    </script> -->

<%- include('../includes/user/userEnd') %>
